@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.background { 
  width: 100%;
  align-items: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 1.5;
  position: absolute;
  left: 0;
  top: 0;
}

.background {
  position: relative;
}
 
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  background-image: url('./Images/progress-2132409_1280.webp');
  opacity: 0.5; /* Adjust the opacity value (0.0 - 1.0) as desired */
  z-index: -5;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}


.background1 {
  width: 100%;
  align-items: center;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 1.5;
  position: absolute;
  left: 0;
  top: 0;
}


.background1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220%;
  background-image: url('./Images/success-g5bf56e889_1280.jpg');
  opacity: 0.5; /* Adjust the opacity value (0.0 - 1.0) as desired */
  z-index: -5;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* animation: rotate 2s infinite linear; */
}

.My-site {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 30px;
}

.My-site1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 40px;
}


#talt {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  position: relative;
  font-size: 1rem;
  /* line-height: 3; */ 
}

.classes {
  font-family: 'Ultra', serif;
  color: green;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 12px;
} 

.classes a {
  text-decoration: none;
}

p {
  font-family: 'Lobster Two', cursive;
  color: black;
  text-align: center;
  position: relative;
  font-size: 1rem;
  /* line-height: 3; */

}

.Me {
  font-family: 'Ultra', serif;
}

#color {
  color: rgba(255, 166, 0, 0.918);
}

#color1 {
  color: orange;
}

.address {
  font-family: 'Lobster Two', cursive;
}

#found {
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  display: inline-block;
  /* cursor: pointer; */
}

.navbar a {
  font-family:Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #f2f2f2;
  padding: 14px 16px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 5px;
}

body {
  background-color: #ffffff; /* Normal background color */
} 
 
.clicked {
  background-color: #56528e; /* Color when clicked */
} 

 .fixed {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 }

.img {
  font-size: 70px;
}

.img2 {
  font-size: 70px;
}


/* .line {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
} */

/* .navbar:hover .line {
  transform: scaleX(1.2);
} */

/* 
.navbar .line:first-child {
  transform-origin: top right;
}

.navbar .line:last-child {
  transform-origin: bottom right;
} */


/* 
.navbar a:hover {
  background-color: #ebebeb;
  color: black;
}

.navbar a.active {
  background-color: rgb(140, 32, 140);
  color: white;
} */
 
/* .navbar .icon {
  display: none;
} */
 
/* 
.image-container {
  image-rendering: url("/Images/messi-6840531_1280.png");
  padding-left: ;
  margin-left: 20px;
 */



   /* .navbar {
  background-color: #333;
  overflow: hidden; 
  display: inline-block;
  cursor: pointer;
}  */
